<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--local server details-->
    <add key="ServerName" value="wKFtgjoGvIDKBXSJwcs5bA=="/>
    <add key="DBName" value="Lyu941Qj2GlmRSGbT8ACTw=="/>
    <add key="username" value="IR/pVcpWkmtOOk9seXD/Kw=="/>
    <add key="pwd" value="hVb0UIPv2JaNpD+K94b+MA=="/>
    <!--Cloud Secrver Details-->
    <!--<add key="ServerName" value="jHYrVrLhZhgSrjQpMBUEww=="/>
    <add key="DBName" value="75a/mHd8iw+cF9O7Mc7KaA=="/>
    <add key="username" value="xavNaDvVIUm8kcILGdWrbDIwebIYH5tFuP7NYIYbByw="/>
    <add key="pwd" value="gj7GpGDhPi/D0Vsi2Rb0Fg=="/>-->
    <!--client server details-->
    <!--<add key="ServerName" value="bA19uqlzOkIVaZo22tE/Qw==" />
    <add key="DBName" value="auodGRIY3hm/L8tjFJg1dA==" />
    <add key="username" value="auodGRIY3hm/L8tjFJg1dA==" />
    <add key="pwd" value="l61A47lQCN9uq/7OArYnOw==" />-->
  </appSettings>
</configuration>